    <div class = "container">
        
        <div class = "header">
            <h2>LOGIN</h2>
        </div>

        <h5 class = "error">Error Message</h5>

        <form class = "form" id = "form" method = "POST" action = "/submit">
            <div class = "formInput">
                <label>username</label>
                <input type = "text" placeholder = "username" id = "username" name = "username">
            </div>

            <div class = "formInput">
                <label>password</label>
                <input type = "password" placeholder = "password" id = "password1" name = "password">
            </div>

            <div class = "formInput">
                <input type = "submit" value = "LOGIN" id = "button">
            </div>
        </form>

    </div>